* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

/* Formatações header */

.hidden{
  display:none;
}

.rotate{
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#seta{
  color:rgb(242, 234, 234)
}

/* Formatações main */

.btn_inicio{
  padding: 15px;
  width: 60%;
}

.info{
  color:rgb(14, 47, 137);
}

.bloco{
  height: 50vh;
  margin-bottom:60%;
}
