* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden{
  display:none;
}

#seta{
  color:rgb(242, 234, 234)
}

.btn_inicio{
  padding: 15px;
  width: 60%;
}

.info{
  color:rgb(14, 47, 137);
}

.bloco{
  height: 50vh;
  margin-bottom:60%;
}

.hidu{
  scroll-behavior:smooth;
}

.rotate{
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.fundo{
  background-color: rgb(31, 30, 30);
}

.lins_img{
  width: 60px;
}